---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Aboutme from '../components/Aboutme.astro';
import Contact from '../components/Contact.astro';
import Skills from '../components/Skills.astro';
---

<Layout title="Hoffmann Axel">
    <Navbar/>
    <main>
        <section id="aboutme" class="border-y border-red-500 nav-section">
            <Aboutme/>
        </section>
        <section id="skills" class="border-y border-red-500 h-fit nav-section">
            <Skills/>
        </section>
        <section id="projects" class="border-y border-red-500 h-screen nav-section">
            <!-- Content for projects -->
        </section>
        <section id="contactme" class="border-y border-red-500 h-screen nav-section">
            <Contact/>
        </section>
    </main>
</Layout>
