---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Aboutme from '../components/Aboutme.astro';
---

<Layout title="Hoffmann Axel">
	<Navbar/>
	<main class="border-y border-red-500">
		<Aboutme/>
		<div class="h-full w-full bg-blue-500">
			<p>test</p>
		</div>
	</main>
</Layout>