---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Aboutme from '../components/Aboutme.astro';
---

<Layout title="Hoffmann Axel">
    <Navbar/>
    <main>
        <section id="aboutme" class="border-y border-red-500">
            <Aboutme/>
        </section>
        <section id="experiences" class="border-y border-red-500">
            <!-- Content for Experiences -->
        </section>
        <section id="mywork" class="border-y border-red-500">
            <!-- Content for My Work -->
        </section>
        <section id="contactme" class="border-y border-red-500">
            <!-- Content for Contact Me -->
        </section>
    </main>
</Layout>
