<article class="flex flex-col md:flex-row justify-between">
    <section class="w-full md:w-1/2 border border-blue-500 h-[50vh] md:h-[65vh]">
        <div class="p-8 lg:p-16 2xl:p-64">
            <h1 class="text-3xl">
                Full-stack Developer
            </h1>
            <p class="m-4">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, ea quidem. Illum harum beatae rerum, nesciunt minus architecto corrupti dicta. Cupiditate quam tempora accusamus, corrupti nemo aperiam recusandae magnam nam?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi blanditiis reprehenderit sunt, iusto id pariatur aliquid porro ipsum inventore quasi. Nesciunt ipsum, ipsam harum eum ea dolorum reiciendis repellendus molestias.
            </p>
        </div>²
    </section>
    <section class="w-full md:w-1/2 border border-blue-500 h-[50vh] md:h-[65vh]">
        Ceci est un test
    </section>
</article>
