<article class="flex flex-col md:flex-row justify-between">
    <section class="w-full md:w-1/2 border border-blue-500 flex-grow h-96">
        <div class="md:p-16 p-8 font">
            <h1 class="text-3xl">
                Full-stack Developer
            </h1>
            <p class="m-4">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi blanditiis reprehenderit sunt, iusto id pariatur aliquid porro ipsum inventore quasi. Nesciunt ipsum, ipsam harum eum ea dolorum reiciendis repellendus molestias.
            </p>
        </div>
    </section>
    <section class="w-full md:w-1/2 border border-blue-500 flex-grow h-96">
        Ceci est un test
    </section>
</article>
