<div class="mt-8">
    <div class="flex flex-col items-center">
        <h1 class="font-medium text-2xl">
            Experiences
        </h1>
        <div class="border-t-2 border-black mt-2 w-[65vw] lg:max-w-3xl mt-3"></div>
    </div>
    <article class="mt-8 ml-1">
        <div class="title-x-time">
            <p>
                October 2023 - Present
            </p>
            <h3>
                Fari & Université libre de Bruxelles
            </h3>
        </div>
        <div class="work-title mt-2">
            Full-stack developer & Sys.Admin
        </div>
        <div class="description mt-2">
            Work on SmartCampus project in the STARI division from the research department in Université libre de Bruxelles in collaboration with Fari institute
        </div>
    </article>
</div>
