<header class="flex justify-between min-h-24">
    <div class="w-1/4 flex justify-center">
        <p class="flex lg:hidden flex items-center">
            AH
        </p>
        <p class="hidden lg:flex items-center">
            Axel Hoffmann
        </p>
    </div>
    <nav class="w-2/4 flex justify-center">
        <ul class="flex gap-8 items-center">
            <li>
                <a href="#aboutme">About me</a>
            </li>
            <li>
                <a href="#experiences">Experiences</a>
            </li>
            <li>
                <a href="#mywork">My Work</a>
            </li>
            <li>
                <a href="#contactme">Contact Me</a>
            </li>
        </ul>
    </nav>
</header>
